<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy</title>
</head>
<link rel="stylesheet" href="/css/fantasy.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>


<body>
    <%- include('./header') %>
    <section class="main-body">

        <div id="info" class="info">
            <div class="budget">
                <div class="inn">Remaining budget
                <p>$<span id="fantasy-price">12</span>m</p></div>
            </div>
            <div class="players-number">
                <div class="inn">players-number
                <p><span id="player-number">0</span>/5</p></div>
            </div>
        </div>

        <div class="formation">
            <div class="select-formation">
                <label for="formation">Choose Formation</label>
                <br>
                <select id="formation" name="formations" onchange="formation()">
                <option value="none" selected disabled hidden>Select A Formation</option>
                <option value="1-2-1-1">1-2-1-1</option>
                <option value="1-1-2-1">1-1-2-1</option>
                <option value="1-1-1-2">1-1-1-2</option>
                </select>
            </div>
            <div class="pitch">
                <div class="top-box"></div>
                <div class="top-inner-box"></div>
                <div class="centre-circle"></div>
                <div class="centre-line"></div>
                <div class="bottom-box"></div>
                <div class="bottom-inner-box"></div>
                <div class="player-card">
                    <div class="player-card-section">
                        <div id="forward" class="FW">
                        </div>
                    </div>
                    <div class="player-card-section">
                        <div id="mid" class="MF">
                        </div>
                    </div>
                    <div class="player-card-section">
                        <div id="def" class="DF">

                        </div>
                    </div>
                    <div class="player-card-section">
                        <div id="goal" class="GK">
                        </div>
                        <div class="popup">
                            <span class="popuptext" id="myPopup"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="loading" id="loader">Loading&#8230;</div>
            <button class="btn" id="btn" type="button" onclick="submit_data()">Submit</button>
        </div>
        <div class="caution">
            ! Once Submitted No Modifications Are Allowed !
        </div>
    </section>
</div>
</div>


<script>

    var players = <%-JSON.stringify(players)%>;

    let GK = document.getElementById('goal')
    let DF = document.getElementById('def')
    let MF = document.getElementById('mid')
    let FW = document.getElementById('forward')

    let price_div = document.getElementById('fantasy-price')
    let price = document.getElementById('fantasy-price').textContent
    price = parseFloat(price)


    var map = new Map()
    var user_pick = '{"theTeam":[]}'
    var player_number = document.getElementById('player-number')

    var num 

    function filterbyPosition(position){
        var result = players.filter( element => element.Player_position ==position)
        return result
    }

    function myFunction(id) {

        var popup = document.getElementById("myPopup");
        var new_id = id.substring(0, 2)
        var filtered_players = filterbyPosition(new_id)
        var output = " "
        output += `<div class="leaderboard" onclick = "hide_col()">
        <h1>
        ${new_id}
        </h1>
        <ol>`
        for (var i = 0; i < filtered_players.length; i++) {
        output += `
        <li data-item='${JSON.stringify(filtered_players[i])}' onclick="addplayer(this, '${id}')">
            <img class="head-image" src="${filtered_players[i].Player_image}" >
            <mark>${filtered_players[i].Player_name}</mark>
            <small>$ ${filtered_players[i].Player_price} m</small>
        </li>   
        `
        }
        output += '</ol></div>'
        popup.innerHTML = output
        popup.classList.toggle("show");
        popup.style.display = "block"
    }


    function hide_col(){
    var element = document.getElementById("myPopup");
    element.style.display = "none";
    }





    //formation logic

    function formation(){
    num = 0
    player_number.innerHTML = num

    document.getElementById('fantasy-price').textContent = 12
    addPlayerToArray('reset')
    map = new Map()
    
    let defender = " "
    let midfielder = " "
    let forward = " "

    let position  = {'GK': 1, 'DF': 0, 'MF': 0, 'FW':0}
    var formation = document.getElementById("formation").value;
    var numb = formation.match(/\d/g);
    numb = numb.join("");
    var array = Array.from(String(numb), Number)
    position['DF'] = array[1]
    position['MF'] = array[2]
    position['FW'] = array[3]

    GK.innerHTML = `<div class="player" id="GK" onclick="myFunction(this.id)"><div class="select-card"><img class="card-image" src="/img/add.png" ><br>GK</div></div>`

    for (let index = 0; index < position['DF']; index++) {
        defender += `<div class="player" id="DF DF${index}" onclick="myFunction(this.id)"><div class="select-card"><img class="card-image" src="/img/add.png" ><br>DF</div></div>`
    }
    DF.innerHTML = defender

    for (let index = 0; index < position['MF']; index++) {
        midfielder += `<div class="player" id="MF MF${index}" onclick="myFunction(this.id)"><div class="select-card"><img class="card-image" src="/img/add.png" ><br>MF</div></div>`
    }
    MF.innerHTML = midfielder

    for (let index = 0; index < position['FW']; index++) {
        forward += `<div class="player" id="FW FW${index}" onclick="myFunction(this.id)"><div class="select-card"><img class="card-image" src="/img/add.png" ><br>FW</div></div>`
    }
    FW.innerHTML = forward

    }


    //add player
    function addplayer(data, id){
    let player = JSON.parse(data.dataset.item)  
    let player_id = document.getElementById(id)
    
    //player repeat prevent
    if(map[player.Player_name]){
        return
    }

    if(map[id]){
        user_pick = JSON.parse(user_pick)
        for (let [i, players] of user_pick['theTeam'].entries()) {
        if (players.Player_name == map[id]){
            map[players.teamName] -=1
            price_tracker(-players.Player_price)
            user_pick['theTeam'].splice(i, 1);   
            user_pick = JSON.stringify(user_pick)   
            delete(map[players.Player_name])
        }
    }
    }



    //player name splitting
    let name = player.Player_name
    let arr = name.split(' ');
    if(arr[1]){
        name = arr[1]
    }
    else{
        name = arr[0]
    }

    //team count
    if(map[player.teamName] == 3){
        return
    }else if(!map[player.teamName]){
        map[player.teamName] = 1
    }else{
        map[player.teamName] +=1
    }


    //final decision
    let decision = price_tracker(player.Player_price)
    if(decision == false){
        return
    }
    else{
        player_id.innerHTML = " "
        player_id.innerHTML = `<div class="select-card"><img class="card-image" src="${player.Player_image}" ><br>${name}<br>$${player.Player_price}m</div>`
    
        addPlayerToArray(player)
        map[player.Player_name] = player.Player_name
        map[id] = player.Player_name
    }
    }



    //add player to array for sending it to server
    function addPlayerToArray(player){
    if(player == 'reset'){
        user_pick = '{"theTeam":[]}'
        return user_pick
    }else{
        user_pick = JSON.parse(user_pick)
        user_pick['theTeam'].push(player);
        num = user_pick['theTeam'].length
        if(num == 5){
        document.getElementById('btn').style.display = 'block'
        }
        player_number.innerHTML = num
        user_pick = JSON.stringify(user_pick)
        return user_pick
    }
    }


    //price tracker
    function price_tracker(money){
    let price_div = document.getElementById('fantasy-price')
    let price = document.getElementById('fantasy-price').textContent
    price = parseFloat(price)
    
    price = price - money
    if(price<0){
        return false
    }else{
    price_div.innerHTML = price.toFixed(1)
    }
    }

    var match_id = window.location.pathname
    let match_arr = match_id.split('/');


    function submit_data(){
        document.getElementById("btn").style.display = "none";
        document.getElementById("loader").style.display = "inline";
        var data = JSON.parse(user_pick) 
        fetch(`https://fantasy-pu.herokuapp.com/fantasy/${match_arr[3]}`, {
            method: 'POST',
            redirect: 'follow',
            headers: {
                'Content-Type': 'application/json'
            },
            body:user_pick
        }).then(res=>{
        window.location.replace(res.url);
        });
    }
        
      
</script>

</body>
</html>